<!-- Accordeon Liste Article -->
<div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            Liste Article
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse {{ openArticle }}" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">

            {{!-- Chemin pour retrouver le fichier handlebars btnCreateArticle qu'on exporte afin de parser le code
            (Code plus lisible) --}}
            {{> admin/btnCreateArticle }}

            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th class="text-left" scope="col">#</th>
                        <th class="text-left" scope="col">Avatar</th>
                        <th scope="col">Article</th>
                        <th scope="col">Verified</th>
                        <th class="text-center" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>

                    {{!-- Ouverture de la methode each (boucle) avec le # (Voir le Readme) exploitant les données de
                    mydb en rapport avec les colonnes de la Table Article --}}
                    {{#each articles }}

                    <!-- Item 1 du tableau -->
                    <tr class="table-info">
                        {{!-- <th scope="row"> {{ this.id }} </th> --}}
                        {{!-- Incrémentation Tableau Helpers --}}
                        <th scope="row">{{inc @index}} : {{ this.id }}</th>
                        <td class="pt-0 pb-0 text-left align-middle">
                            <img class="rounded-circle" style="height: 43px;" src="/assets/images/{{ this.image }}" alt="">
                        </td>
                        <td> {{ this.title }} </td>
                        <td>true</td>
                        <td>
                            <div class="d-flex justify-content-evenly">

                                <!-- Bouton Edit Open Modal Edit Validation Article -->
                                <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal{{ this.id }}" data-bs-whatever="@mdo">
                                    <i class="fas fa-edit"></i>
                                </button>

                                <!-- Ajout début du Modal Edit Validation de l'Article dans le bouton Warning -->
                                <div class="modal fade" id="exampleModal{{ this.id }}" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">
                                                    Editer "Article"</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">

                                                {{!-- Methode PUT pour l'Edition d'Article --}}
                                                <form action="/UploadArticle2/{{ this.id }}?_method=PUT" enctype="multipart/form-data" method="POST">
                                                    {{!-- Methode PUT pour l'Edition d'Article --}}

                                                    <div class="col-md-12">
                                                        <label for="recipient-name" class="col-form-label">Title
                                                            :</label>
                                                        {{!-- Ne pas oublier d'écrire le "name" dans les input en
                                                        rapport avec la methode PUT --}}
                                                        <input type="text" name="title" class="form-control"
                                                            placeholder="Title" id="recipient-name"
                                                            value='{{ this.title }}' />
                                                    </div>

                                                    <div class="col-md-12">
                                                        <label for="message-text" class="col-form-label">Image
                                                            :</label>
                                                        {{!-- Ne pas oublier d'écrire le "name" dans les input en
                                                        rapport avec la methode PUT --}}
                                                        <input type="file" class="form-control-file" name="imgArticle">
                                                    </div>

                                                    <div class="col-md-12">
                                                        <label for="recipient-name" class="col-form-label"></label>
                                                        {{!-- Ne pas oublier d'écrire le "name" dans les input en
                                                        rapport avec la methode PUT --}}
                                                        <textarea id="message" name="description" rows="5"
                                                            placeholder="Description"
                                                            class="contact-message"> {{ this.description }} </textarea>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <label for="recipient-name"
                                                            class="col-form-label d-flex justify-content-start">subdescription
                                                            :</label>
                                                        {{!-- Ne pas oublier d'écrire le "name" dans les input en
                                                        rapport avec la methode PUT --}}
                                                        <input type="text" name="subdescription" class="form-control"
                                                            placeholder="Recommandation" id="recipient-name"
                                                            value='{{ this.subdescription }}' />
                                                    </div>

                                                    <div class="col-md-12">
                                                        <label for="recipient-name" class="col-form-label"></label>
                                                        {{!-- Ne pas oublier d'écrire le "name" dans les input en
                                                        rapport avec la methode PUT --}}
                                                        <textarea id="message" name="recommandation" rows="5"
                                                            placeholder="Recommandation"
                                                            class="contact-message"> {{ this.recommandation }} </textarea>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="contact-form text-center mb-5">
                                                            {{!-- Methode PUT : Ne pas oublier le type SUBMIT qui est un
                                                            bouton d'envoi qui soumet toutes les valeurs du formulaire
                                                            lors de l'envoi à un gestionnaire de formulaire (Server)
                                                            validant la balise ouvrante fermante "form" --}}
                                                            <button type="submit"
                                                                class="btn-or mt-3">Validation</button>
                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- / Fin du Modal Edit de l'Article -->

                                <!-- Bouton DANGER Open Modal Delete (Suppression) Article -->
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#modalDeleteArticle{{ this.id }}">
                                    <i class="far fa-times-circle"></i>
                                </button>
                                <!-- Ajout Début du Modal Suppression de l'Article dans le Bouton DANGER -->
                                <div class="modal fade" id="modalDeleteArticle{{ this.id }}" tabindex="-1"
                                    aria-labelledby="labelModalDeleteArticle" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="labelModalDeleteArticle">
                                                    Supprimer Article: {{ this.title }}
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Etes-vous sûr de vouloir supprimer cet article ?
                                            </div>
                                            <div class="modal-footer">
                                                {{!-- Methode DELETE : Ne pas oublier le type SUBMIT qui est un
                                                bouton d'envoi qui soumet toutes les valeurs du formulaire lors de
                                                l'envoi à un gestionnaire de formulaire (Server) validant la balise
                                                ouvrante fermante "form" --}}
                                                <form action="/UploadArticle2/{{ this.id }}?_method=DELETE" method="POST">
                                                    <button class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Annuler</button>
                                                    <button type="submit" class="btn btn-primary">Oui</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- / Fin du Modal Suppression de l'Article -->
                            </div>
                        </td>
                    </tr>

                    {{!-- fermeture de la methode each (boucle) avec le slash / (Voir le Readme) --}}
                    {{/each }}

                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- / Accordeon Liste Article -->